@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Contoso University Razor</h1>
    <h2>By Samuel Baker</h2>
</div>
<section>
    <ol class="list-group">
        <li class="list-group-item">
            <a class="btn btn-success" 
            href="Students/Index">Students</a> 
            List of Enrolled Students
        </li>
        <li class="list-group-item">
            <a class="btn btn-info" 
            href="Modules/Index">Modules</a> 
            List of Modules
        </li>
        <li class="list-group-item">
            <a class="btn btn-warning" 
            href="/Instructors/Index">Instructors</a> 
            List of Instructors
        </li>
        @*<li class="list-group-item">
            <a class="btn btn-danger" 
            href="/Departments/Index">Departments</a> 
            List of Departments
        </li>*@
    </ol>
</section>